params {
    reads   = "$launchDir/data/*{1,2}.fq"
    outdir  = "$launchDir/results"
    threads = 2

    slidingwindow   = "SLIDINGWINDOW:4:15"
    avgqual         = "AVGQUAL:30"

    dirgenome   = "$launchDir/data"
    genome      = "$launchDir/data/Drosophila_melanogaster.BDGP6.dna.fa"
    gtf         = "$launchDir/data/Drosophila_melanogaster.BDGP6.85.sample.gtf"
    lengthreads = 98
}

println """\
      LIST OF PARAMETERS
================================
            GENERAL
Reads            : $params.reads
Results-folder   : $params.outdir/
Threads          : $params.threads
================================
          TRIMMOMATIC
Sliding window   : $params.slidingwindow
Average quality  : $params.avgqual
================================
             STAR
Reference genome : $params.dirgenome
Genome directory : $params.genome 
GTF-file         : $params.gtf
Length-reads     : $params.lengthreads
================================
"""