// Define parameters separately in a configuration file:
includeConfig "/path/to/params.config"

// optionally, use 'includeConfig' to add another config file. 

// Define technical resources below:
process {
    withLabel: 'low' {
        memory='1G'
        cpus='1'
        time='6h'
    }
    withLabel: 'med' {
        memory='2G'
        cpus='2'
    }
    withLabel: 'high' {
        memory = '4G'
        cpus='4'
    }
}

// Define containers & environments below:
process.container = 'rnaseq:latest'

profiles {
    docker.enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
}

// Enabling singularity
// singularity.cacheDir = "$launchDir/singularity"

