// Define parameters below:
params.reads = "$launchDir/data/*{1,2}.fq"
params.outdir = "$launchDir/results"
params.threads = 2
params.slidingwindow = "SLIDINGWINDOW:4:15"
params.avgqual = "AVGQUAL:30"
params.dirgenome = "$launchDir/data"
params.genome = "$launchDir/data/Drosophila_melanogaster.BDGP6.dna.fa"
params.gtf = "$launchDir/data/Drosophila_melanogaster.BDGP6.85.sample.gtf"
params.lengthreads = 98

// Define technical resources below:
process {
    memory='1G'
    cpus='1'

    withLabel: 'med' {
        memory='2G'
        cpus='2'
    }
    withLabel: 'high' {
        memory = '4G'
        cpus='4'
    }
}

// Define containers & environments below:
process.container = 'rnaseq:latest'
//singularity.cacheDir = "$launchDir/singularity"

