// Define project parameters needed for running the pipeline
params {
    reads = "$launchDir/data/*{1,2}.fq.gz"
    outdir = "$launchDir/results"
    threads = 2
    slidingwindow = "SLIDINGWINDOW:4:15"
    avgqual = "AVGQUAL:30"
    dirgenome = "$launchDir/data"
    genome = "$launchDir/data/Drosophila_melanogaster.BDGP6.dna.fa"
    gtf = "$launchDir/data/Drosophila_melanogaster.BDGP6.85.sample.gtf"
    lengthreads = 98
}