# Ignore checkpoint intermediates
.ipynb_checkpoints

# Don't upload reference data to github. Only the notebook with instructions 
# and the shell script to download the data. 
./ref/*
!./ref/Download_data.ipynb
!./ref/get_bundle.sh
# If I ever change the name
./reference

